IoT_Data_Simulator_Version_1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>8295af51-016d-1000-73df-f3154073a196</groupId>
    <name>IoT Data Simulator Version 1</name>
    <snippet>
        <processGroups>
            <id>3790f4bc-b7c1-3c67-0000-000000000000</id>
            <parentGroupId>e4e35002-9930-3522-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>3790f4bc-b7c1-3c67-9a8f-e0a51131bf04</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>1b820219-5c5a-38d3-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>1b820219-5c5a-38d3-8ef3-60400cf1da04</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>eba0cd3e-8beb-3d62-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>eba0cd3e-8beb-3d62-8366-eb547826cfba</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>d3668f0b-37b8-329f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3668f0b-37b8-329f-aef2-61fd5da77935</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>34e13be8-7512-3506-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>34e13be8-7512-3506-967e-fee7797f5487</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>646ced4c-3f1f-38b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>646ced4c-3f1f-38b9-b273-e4492450d9e0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>fd8ecbb2-0f10-3bce-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fd8ecbb2-0f10-3bce-b395-3b8b8ce75b83</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>64247acc-2d62-361f-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>64247acc-2d62-361f-b9b4-a4bd4256e58d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>02511934-5564-349c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>02511934-5564-349c-8a38-a3a64241a4e6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>cb64bfbb-c1dd-3935-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7a861492-37d9-3ccb-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>7a861492-37d9-3ccb-9e45-ae4e6460db35</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>eba0cd3e-8beb-3d62-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>eba0cd3e-8beb-3d62-8366-eb547826cfba</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>02511934-5564-349c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>02511934-5564-349c-8a38-a3a64241a4e6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c8de09e-218e-3d41-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>7c8de09e-218e-3d41-b379-cb50f2efbdef</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>cb64bfbb-c1dd-3935-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>646ced4c-3f1f-38b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>646ced4c-3f1f-38b9-b273-e4492450d9e0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c23dfb0c-5ed2-313a-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>c23dfb0c-5ed2-313a-8736-6d005a2c17d2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>d3668f0b-37b8-329f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3668f0b-37b8-329f-aef2-61fd5da77935</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>injectError</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>cb64bfbb-c1dd-3935-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c6abb29c-6cdf-30ba-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>c6abb29c-6cdf-30ba-b6ca-b3924712de84</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>02511934-5564-349c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>02511934-5564-349c-8a38-a3a64241a4e6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3790f4bc-b7c1-3c67-0000-000000000000</groupId>
                        <id>d3668f0b-37b8-329f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3668f0b-37b8-329f-aef2-61fd5da77935</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>50b0ca6d-8b12-3a34-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>50b0ca6d-8b12-3a34-864b-a0f46e8e21fa</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>bf84f94d-619b-3320-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <versionedComponentId>bf84f94d-619b-3320-bd2c-674c09307010</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <funnels>
                    <id>eba0cd3e-8beb-3d62-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>1143.0</x>
                        <y>806.0</y>
                    </position>
                    <versionedComponentId>eba0cd3e-8beb-3d62-8366-eb547826cfba</versionedComponentId>
                </funnels>
                <labels>
                    <id>cfd9f980-c773-38c1-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>886.0</x>
                        <y>-169.0</y>
                    </position>
                    <versionedComponentId>cfd9f980-c773-38c1-b0a5-8b390b1a7b29</versionedComponentId>
                    <height>65.0</height>
                    <label>https://www.datainmotion.dev/2019/08/generating-json-data-in-apache-nifi.html</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6e8ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>908.0</width>
                </labels>
                <processors>
                    <id>02511934-5564-349c-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>415.843505859375</x>
                        <y>605.5737915039062</y>
                    </position>
                    <versionedComponentId>02511934-5564-349c-8a38-a3a64241a4e6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>
    <name>Topic</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>
    <name>Retain Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://localhost:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>nifi-mqtt-generator</value>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>iot</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishMQTT</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
                </processors>
                <processors>
                    <id>646ced4c-3f1f-38b9-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>428.9124755859375</x>
                        <y>84.0</y>
                    </position>
                    <versionedComponentId>646ced4c-3f1f-38b9-b273-e4492450d9e0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>injectError</key>
<value>
    <name>injectError</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>injectError</key>
<value>${random():mod(100):gt(85)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>cb64bfbb-c1dd-3935-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>426.9124755859375</x>
                        <y>304.0</y>
                    </position>
                    <versionedComponentId>cb64bfbb-c1dd-3935-9a4a-6c2929eb93cd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>injectError</key>
<value>
    <name>injectError</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>injectError</key>
<value>${injectError:equals(true)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Inject "Random" Errors</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>injectError</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>d3668f0b-37b8-329f-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>1021.0279541015625</x>
                        <y>454.0519714355469</y>
                    </position>
                    <versionedComponentId>d3668f0b-37b8-329f-aef2-61fd5da77935</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>
    <name>replacement-value-strategy</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_0</key>
<value>
    <name>/sensor_0</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_1</key>
<value>
    <name>/sensor_1</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_10</key>
<value>
    <name>/sensor_10</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_11</key>
<value>
    <name>/sensor_11</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_2</key>
<value>
    <name>/sensor_2</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_3</key>
<value>
    <name>/sensor_3</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_4</key>
<value>
    <name>/sensor_4</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_5</key>
<value>
    <name>/sensor_5</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_6</key>
<value>
    <name>/sensor_6</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_7</key>
<value>
    <name>/sensor_7</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_8</key>
<value>
    <name>/sensor_8</name>
</value>
                            </entry>
                            <entry>
<key>/sensor_9</key>
<value>
    <name>/sensor_9</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>bf84f94d-619b-3320-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>50b0ca6d-8b12-3a34-0000-000000000000</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>literal-value</value>
                            </entry>
                            <entry>
<key>/sensor_0</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_1</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_10</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_11</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_2</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_3</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_4</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_5</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_6</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_7</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_8</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                            <entry>
<key>/sensor_9</key>
<value>${random():mod(500):plus(500)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Add Errors</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                </processors>
                <processors>
                    <id>fd8ecbb2-0f10-3bce-0000-000000000000</id>
                    <parentGroupId>3790f4bc-b7c1-3c67-0000-000000000000</parentGroupId>
                    <position>
                        <x>426.89996337890625</x>
                        <y>-120.0</y>
                    </position>
                    <versionedComponentId>fd8ecbb2-0f10-3bce-b395-3b8b8ce75b83</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>100B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
   "sensor_ts": ${now():toNumber():multiply(1000000)},
   "sensor_id": ${random():mod(100)},
   "sensor_9": ${random():mod(10):plus(1)},
   "sensor_3": ${random():mod(40):plus(20)},
   "sensor_2": ${random():mod(5)},
   "sensor_1": ${random():mod(5):plus(1)},
   "sensor_0": ${random():mod(5):plus(1)},
   "sensor_7": ${random():mod(70):plus(80)},
   "sensor_6": ${random():mod(90):plus(10)},
   "sensor_5": ${random():mod(50):plus(50)},
   "sensor_8": ${random():mod(50):plus(1)},
   "sensor_4": ${random():mod(60):plus(1)},
   "sensor_11": ${random():mod(10):plus(1)},
   "sensor_10": ${random():mod(10):plus(1)}
}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0.5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <name>IoT Data Generator</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/18/2019 16:56:54 UTC</timestamp>
</template>
